---
layout: layouts/default.njk
title: About Me
---
<hr/><p class="lead">I have been in the "tech for good" space since 2008 in a variety of digital marketing roles.
</p>
<hr/>
<p>I started my tech career managing a static HTML website, implementing an email marketing program with Constant Contact, and setting up organizational social media accounts.</p>
<p>I have since served as project manager, layout and UI designer, and professional web developer. I worked with nonprofits for over a decade, and now I work in state government and specialize in front-end web development and digital accessibility.</p>
<h2 class="py-3">Work Experience</h2>
<h3 class="py-2">Government Information Center, Delaware Department of State: February 2020 - present</h3>
<p>I am a long-term contract front-end developer and digital accessibility specialist. Projects include:
<ul>
    <li><a href="{{ '/delaware-state-website-accessibility' | url }}">Delaware state website accessibility project</a></li>
    <li><a href="{{ '/delaware-covid-19-information-website' | url }}">Delaware COVID-19 information website project</a></li>
    <li><a href="{{ '/delaware-dot-gov-website-homepage' | url }}">Delaware.gov website homepage project</a></li>
    <li><a href="{{ '/delaware-city-website' | url }}">Delaware City website project</a></li>
</ul>
<hr/>
<h3 class="py-2">Dudnyk: September 2019 - January 2020</h3>
<p>I was a contract front-end developer for this pharmaceutical marketing agency, and this was my first job on a team with other developers. I primarily built static HTML websites, HTML emails, and Google banner ads. I tested websites using Browserstack and emails using Email on Acid, used Beanstalk for git version control, and the Greensock JavaScript animation library for Google banner ads.</p>
<hr/>
<h3 class="py-2">Jewish Federation of Greater Philadelphia: January 2017 - September 2019</h3>
<p>This was my first full-time role as a professional developer. For more information about it, <a href="{{ '/jewish-federation-of-greater-philadelphia-website' | url }}">view the website project</a> that I was involved in.</p>
<hr/>
<h3 class="py-2">Full-Time Freelancing: June 2016 - January 2017</h3>
<p>I wanted to become a full-time professional developer in the WordPress space, so I took the leap and went into business for myself.</p>
<p>Ultimately, I had to close my doors after seven months due to the operation not being financially sustainable. However, I did accomplish the following:</p>
<ul>
    <li>Did contract customer support for an agency who built off-the-shelf WordPress themes and custom sites for clients using the Genesis Framework</li>
    <li>Did contract post website launch maintenance work for a health and wellness company</li>
    <li>Helped a membership association with maintenance for a newly-launched WordPress multisite network website</li>
    <li>Learned Bootstrap and git version control using Beanstalk</li>
</ul>
<hr/>
<h3 class="py-2">PMI Educational Foundation: March 2007 - y June 2016</h3>
<p>I started as a scholarship program administrator and administrative assistant. In March 2008, I was given the responsibility of managing the static HTML website, and that is how my tech career started. <a href="{{ '/pmi-educational-foundation-website' | url }}">View more information about this website project</a>.</p>
