---
layout: layouts/default.njk
title: Delaware State Website Accessibility
---
<hr/><p class="lead">The Delaware state information technology department mandated that all websites meet WCAG accessibility requirements.
</p>
<hr/>
<p>Previously in my career, I was only aware of accessibility through using alt tags in images. The accessibility mandate that was instituted introduced me to the much deeper and substantive world of website accessibility.</p>
<p>We started doing internal audits of websites that we previously built and then engaged in step-by-step remediation. We started with automated testing which checked for things like color contrast and semantic HTML. We have since incorporated doing manual testing with keyboard-only site navigation and screenreader testing.</p>
<h2 class="py-3">Accomplishments</h2>
<ul>
    <li>Fixed color contrast accessibility issues in the shared header and footer of all state government websites</li>
    <li>Increased the use of semantic HTML, including landmarks</li>
    <li>Started the process of creating accessible design patterns and implementing them in parallel with converting WordPress websites from using the classic editor to Gutenberg blocks.</li>
    <li>Taking everything that we're doing and preparing to incorporate it into the creation of an accessible design system</li>
</ul>
<h2 class="py-3">Accessibility Testing Tools Used</h2>
<ul>
    <li>WebAIM WAVE</li>
    <li>ANDI Accessibility Testing Tool</li>
    <li>axe DevTools</li>
    <li>VoiceOver for Mac and iPhone</li>
</ul>
<h2 class="py-3">Development Tools Used</h2>
<ul>
    <li>HTML and CSS</li>
    <li>JavaScript and PHP for WordPress Gutenberg core block varation and pattern development</li>
</ul>