---
layout: layouts/default.njk
title: Delaware COVID-19 Information Website
---
<hr/><p class="lead">I started my job at the Government Information Center on February 3, 2020; just three weeks before the Coronavirus was looking like it could be a real crisis.
</p>
<hr/>
<p>We didn't know what to expect or what exactly would be needed, so we acted quickly. We ultimately built a WordPress website flexible enough to accommodate any kind of content that was needed and used existing health department branding for a consistent user experience.</p>
<p>I created the wireframes for the initial layout design and set up the initial WordPress theme skeleton. My team members did the rest of the development as I had previously scheduled time off to care for a family member.</p>
<h2 class="py-3">Accomplishments</h2>
<ul>
    <li><a href="https://coronavirus.delaware.gov">Launched the website</a> and trained content editors from multiple departments on how to use it</li>
    <li>Created a <a href="https://coronavirus.delaware.gov/testing-events">COVID-19 testing center locator and schedule</a> using the Modern Tribe Events Calendar WordPress plugin</li>
    <li>Set up Google Analytics and gathered and reported data on the most recently visited pages</li>
    <li>Redesigned and developed the homepage and other key pages based on the data and improved the user experience and discoverability of testing, vaccine, and other critical information</li>
</ul>
<h2 class="py-3">Design and Development Tools Used</h2>
<ul>
    <li>Adobe XD and Figma</li>
    <li>WordPress using the classic editor</li>
</ul>