---
layout: layouts/default.njk
title: Delaware.gov Website Homepage
---
<hr/><p class="lead">We were going to replace the old <a href="https://delaware.gov">Delaware.gov</a> with a brand new design.
</p>
<hr/>
<p>We had the new design developed and implemented at alpha.delaware.gov for people to test and give feedback. As part of a larger accessibility audit, we looked at the new Delaware.gov and made changes to the design and development of it to make it more accessible.</p>
<p>I took Figma mockups and implemented the new design using static HTML, CSS, and jQuery. Once everything was tested and launched on alpha.delaware.gov, my team members then launched it to the official Delaware.gov domain name and redirected all old content to the newly created pages.</p>