---
layout: layouts/default.njk
title: Delaware City Website
---
<hr/><p class="lead">The municipality of Delaware City, Delaware wanted a <a href="https://delawarecity.delaware.gov">redesigned and developed website</a>.
</p>
<hr/>
<p>Our design team created a new brand and design for their website in Photoshop and Figma. I turned those mockups into a WordPress website.</p>
<h2 class="py-3">Accomplishments</h2>
<ul>
    <li>This website was my first professional WordPress custom built theme</li>
    <li>Upgraded the website from our usual use of Bootstrap 3 to Boostrap 4</li>
    <li>Trained content editors on how to use WordPress to edit their site</li>
</ul>
