---
layout: layouts/blank.njk
---

<div class="container my-vh-6">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-10 my-4 text-center">
      <h1 class="display-2 pb-4">
        Web Developer Specializing in Accessibility
      </h1>
      <a class="btn btn-primary px-5 py-3 me-4 position-relative" href="{{ '/about' | url }}">Learn About Me</a>
      </a>
    </div>
  </div>
</div>

<div class="wrapper position-relative my-vh-4">
  <div class="bg-white w-50 h-100 position-absolute d-none d-lg-block"></div>
  <div class="container position-relative py-vh-4">
    <div class="row">
      <div class="col-12">
        <h2 class="display-4">Work</h2>
      </div>
    </div>
    <div class="row justify-content-between d-flex align-items-stretch py-vh-2">
      <div class="col-12 col-lg-5 py-vh-3">
        <h3>Delaware State Website Accessibility</h3>
        <p>Establishing accessibility practices for design, development, and content; doing internal audits of existing websites; and executing remediation tasks.</p>
        <a href="{{ '/delaware-state-website-accessibility' | url }}">View the Delaware state website accessibility project</a>
      </div>
      <div class="col-12 col-lg-5 py-vh-3">
        <h3>Delaware COVID-19 Information Website</h3>
        <p>Doing the layout design and initial WordPress development for the COVID-19 information website for the state of Delaware.</p>
        <a href="{{ '/delaware-covid-19-information-website' | url }}">View Delaware COVID-19 information website project</a>
      </div>
      <div class="col-12 col-lg-5 py-vh-3">
        <h3>Delaware.gov Website Homepage</h3>
        <p>Taking Figma mockups designed for accessibility and turning them into a static HTML homepage.</p>
        <a href="{{ '/delaware-dot-gov-website-homepage' | url }}">View the Delaware.gov website homepage project</a>
      </div>
      <div class="col-12 col-lg-5 py-vh-3">
        <h3>Delaware City Website</h3>
        <p>Taking Photoshop and Figma mockups and turning them into a WordPress website.</p>
        <a href="{{ '/delaware-city-website' | url }}">View the Delaware City website project</a>
      </div>
      <div class="col-12 col-lg-5 py-vh-3">
        <h3>Jewish Federation of Greater Philadelphia Website</h3>
        <p>Serving as technical project manager for the website build and then maintaining it as lead developer and content manager.</p>
        <a href="{{ '/jewish-federation-of-greater-philadelphia-website' | url }}">View the Jewish Federation of Greater Philadelphia website project</a>
      </div>
      <div class="col-12 col-lg-5 py-vh-3">
        <h3>PMI Educational Foundation Website</h3>
        <p>Serving as webmaster for static HTML website and then content migration lead and content manager for the redesigned and developed website.</p>
        <a href="{{ '/pmi-educational-foundation-website' | url }}">View the PMI Educational Foundation website project</a>
      </div>
    </div>
  </div>
</div>
