---
layout: layouts/default.njk
title: Jewish Federation of Greater Philadelphia Website
---
<hr/><p class="lead">I was brought on at the Jewish Federation to take over website and email marketing program management. This was my first full time role as a professional developer.
</p>
<hr/>
<p>I became the technical project manager working with the developer at an external design agency who was building a WordPress website.</p>
<p>I made decisions including choosing website hosting and plugins for functionality. Once the <a href="https://jewishphilly.org">site was launched</a>, I took over as the lead developer and content manager.</p>
<h2 class="py-3">Accomplishments</h2>
<ul>
    <li>Configured Gravity Forms to use for event registration and donation forms</li>
    <li>Built a digital annual report in Zurb Foundation and responsive email newsletter templates using Zurb Foundation for Emails</li>
    <li>Set up Google Analytics and configured regular marketing reports for executives</li>
    <li>Set up email templates and marketing funnels in HubSpot</li>
</ul>
<h2 class="py-3">Other Tools Used</h2>
<ul>
    <li>Bitbucket for git version control repository</li>
    <li>WP Engine for website hosting and git version control for automated deployments from an external WordPress agency</li>
</ul>