---
layout: layouts/default.njk
title: PMI Educational Foundation Website
---
<hr/><p class="lead">This was the first job where I had marketing and technical responsibilities. I managed and made edits to the static HTML website.
</p>
<hr/>
<p>When the website was <a href="https://pmief.org">redesigned and redeveloped</a> in Sitecore CMS, I was the content migration lead and staff technical expert. Once it launched, I became the content manager for it.</p>
<p>I made decisions including choosing website hosting and plugins for functionality. Once the site was launched, I took over as the lead developer and content manager.</p>
<h2 class="py-3">Accomplishments</h2>
<ul>
    <li>Set up organizational social media accounts on Facebook, LinkedIn, and Twitter</li>
    <li>Set up Constant Contact and built email newsletter templates</li>
    <li>Set up Google Analytics and configured regular marketing reports for leadership</li>
    <li>Built and managed online scholarship applications in Formlogix, Wufoo form builder, and CommunityForce</li>
</ul>